.content {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
}

.section {
    width: 100%;
    background-color: #e4d8dd;
    margin-bottom: 100px;
    border-radius: 50px;
    &:nth-child(odd) {
        background-color: #f0eaee;
    }
}

.link {
    transition: all 0.3s ease;
    color: black;
    &:hover {
        color: #333;
    }
}

@include mobile {
    .content {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .section {
        border-radius: 0px;
    }
}
