.content {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.section__first {
  width: 100%;
  background-color: #e4d8dd;
  margin-bottom: 100px;
  border-radius: 50px;
}

.section__second {
  width: 100%;
  background-color: #f0eaee;
  margin-bottom: 100px;
  border-radius: 50px;
}
.section__third {
  width: 100%;
  background-color: #e4d8dd;
  margin-bottom: 100px;
  border-radius: 50px;
}

.section__fourth {
  background-color: #f0eaee;
  margin-bottom: 100px;
  border-radius: 50px;
}
.link {
  transition: all 0.3s ease;
  color: black;
  &:hover {
    color: #333;
  }
}

.desc {
  text-decoration: underline;
  font-weight: bold;
}
