.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 100px;
}
.link {
    font-size: 50px;
    padding: 15px 15px;
    line-height: 30px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.sticky {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transition: all 0.3s ease;
    padding: 20px 0px;
    border-bottom: 1px solid white;
}

@include mobile {
    .header {
        margin-bottom: 160px;
    }
    .title {
        font-size: 35px;
        padding-top: 0px;
        padding-bottom: 15px;
    }
    .sticky {
        flex-direction: column;
        padding: 10px;
    }
    .list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
