.slider {
    width: 600px;
}

.img {
    width: 600px;
    height: 600px;
    background-size: cover;
    border-radius: 50px;
}

.desc {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

@media screen and(max-width:768px) {
    .slider {
        width: 100%;
    }
    .img {
        margin: 0 auto;
        width: 95%;
        height: auto;
    }
}
