.slider {
    width: 600px;
}

.img {
    width: 600px;
    height: 600px;
    background-size: cover;
    border-radius: 50px;
}

.desc {
    font-size: 20px;
    text-align: center;
    margin: 10px;
}
